doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
		link(href='https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap' rel='stylesheet')
		link(rel="stylesheet" href="/css/style.css")
		block stylesheets
		title Authenticator
	body 
		if user
			- user.picture ||= "/img/default.jpg"
			header
				.container 
					.row
						.col-6.p-1 
							//- a(href="/") 
							img(src="/img/devchallenges.svg" alt="" srcset="")
						.col-6.p-1#profile-sec

							.dropdown
								.title 
									img.profile-pic.sm-mr-3(src=user.picture alt="" srcset="")
									p.hide-sm= user.name
									//- i.sm-none.fa.fa-caret-down
								ul.dropdown-menu 
									li.dropdown-item 
										a(href="/profile"). 
											<i class='fa fa-user-circle'></i> My Profile
									li.dropdown-item 
										a(href="/chat"). 
											<i class='fas fa-user-friends'></i> Group Chat
									li.drop-divider
									li.dropdown-item
										a(href="/auth/logout").text-red.
											<i class='fa fa-sign-out-alt'></i> Logout
		block content

	block scripts
	script(src="/js/main.js") 
